@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: url("image.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: "Bungee Spice", sans-serif;    
}

.buttons{
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    outline: none;
}

button:hover{
    opacity: 0.7;
}

#pedra{
    background-color: #a200ff;
}

#papel{
    background-color: #9ee01a;
}

#tesoura{  
    background-color: #7dbeed;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}

p{
    font-weight: bold;
    margin-top: 10px;
}
.your-score span{
    color: rgb(77, 128, 216);
}
.machine-score span{
    color: rgb(244, 71, 15);    
}